{
  "GOOGLE_SERVER_CLIENT_ID": "69166320632-a10ssljjebts3kok7pbr13bukdpf2n5c.apps.googleusercontent.com",
  "GOOGLE_CLIENT_ID": "69166320632-jijuuqbfcb1oe9dem7h17gk3tue9ld43.apps.googleusercontent.com",
  "X_CLIENT_ID": "your-x-oauth-client-id"
}
